@model LawyersSyndicatePortal.Models.ExamAttendee

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <!-- إضافة رابط ملف الستايل الجديد -->
    <link href="@Url.Content("~/Content/Examstylenew.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid mt-4">
    <div class="card p-4">
        <h2>تفاصيل</h2>

        <h4>تفاصيل الملتحق بالامتحان</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Exam.Title)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Exam.Title)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LawyerIdNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LawyerIdNumber)
            </dd>

            <dt class="col-sm-4">
                الاسم الكامل
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Lawyer.FullName)
            </dd>

            <dt class="col-sm-4">
                رقم الجوال
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>

            <dt class="col-sm-4">
                هل يحق له الالتحاق؟
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CanAttend)
            </dd>

            <dt class="col-sm-4">
                هل الاختبار مرئي له؟
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IsExamVisible)
            </dd>

            <dt class="col-sm-4">
                هل أكمل الاختبار؟
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IsCompleted)
            </dd>
        </dl>
    </div>
    <div class="mt-3">
        <!-- تحويل روابط الإجراءات إلى أزرار -->
        @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("العودة إلى القائمة", "Index", new { examId = Model.ExamId }, new { @class = "btn btn-secondary ms-2" })
    </div>
</div>
