@model LawyersSyndicatePortal.Models.PbaContract

@{
    ViewBag.Title = "تفاصيل العقد";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-info text-white text-center">
                    <h3 class="font-weight-light my-4">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <dl class="row dl-horizontal text-right">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.EmployeeName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.EmployeeName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ReceiptNumber)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ReceiptNumber)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FileName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FileName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.LawyerName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LawyerName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.LawyerMembershipNumber)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LawyerMembershipNumber)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DeedType)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DeedType)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FirstPartyName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FirstPartyName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FirstPartyId)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FirstPartyId)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SecondPartyName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SecondPartyName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SecondPartyId)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SecondPartyId)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ContractAuthenticationDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ContractAuthenticationDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AuthenticatorName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.AuthenticatorName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SyndicateBranch)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SyndicateBranch)
                        </dd>
                    </dl>
                </div>
                <hr class="w-100" />
                <div class="card-footer text-center">
                    @Html.ActionLink("تعديل", "Edit", new { id = Model.ContractId }, new { @class = "btn btn-warning btn-lg mx-2" })
                    @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @class = "btn btn-secondary btn-lg mx-2" })
                </div>
            </div>
        </div>
    </div>
</div>
